// Colors
$white: #ffffff;
$black: #2F343B;
$offwhite: #E3CDA4;
$grey: #7E827A;
$red: #703030;
$orange: #C7793C;

// Color Application
$primaryColor: $red;
$accentColor: $orange;
$primaryBackgroundColor: $offwhite;
$backgroundColor: $white;
$textColor: $black;
$lightTextColor: $white;

// Global Values
$maxPageWidth: 1400px;
$headerHeight: 40px;
$navWidth: 15rem;

// Breakpoints
$smallBreak: 'screen and (min-width: 400px)';
$mediumBreak: 'screen and (min-width: 700px)';
$largeBreak: 'screen and (min-width: 1000px)';
$xlargeBreak: 'screen and (min-width: 1400px)';