@import "tailwindcss";

:root {
  --background: #d7d7d7;
  --text: #273f4f;
  --text-secondary: #2a4759;
  --text-action: #ec6e1b;
  --action-background: #e85b00;
  --action-text: #ffffff;
}

@theme {
  --color-*: initial;
  --color-background: var(--background);
  --color-text: var(--text);
  --color-secondary: var(--text-secondary);
  --color-action: var(--text-action);
  --color-action-background: var(--action-background);
  --color-action-text: var(--action-text);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #111b22;
    --text: #d7d7d7;
    --text-secondary: #848e94;
  }
}

body {
  background: var(--background);
  color: var(--text);
  font-family: Helvetica, Arial, sans-serif;
}

.border {
  border-color: var(--text);
}