// contains global definitions

html {
  background: $primaryBackgroundColor;
  color: $textColor;
  font-size: 16px;
  font-family: 'Helvetica', Arial, sans-serif;
  min-width: 20rem;
}

.main-body {
  margin: 0 auto;
  max-width: $maxPageWidth;
  padding: 1rem;
}